.text{
  font-size: 40px;
  font-weight: 600;
  width: 300px;
  line-height: 1;
  letter-spacing: -.45px;
}
.text-2{
  font-size:20px;
  width:400px;
  font-weight:300;
  padding-top:20px;
  line-height: 1.2;
color:#7e808c;
}
.ui{
  max-width: 1200px;
  min-width: 1200px;
  position: relative;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
 justify-content: space-between;
 padding:20px;  height: 100%;
 max-height:fit-content;
}
.img-app
{
  height:54px;
  margin-top: 25px;
}
.image{
  width: 384px;
  aspect-ratio: auto 384 / 489;
  height: 489px;
}
.b{
 top:33px;
  right:-45px;position: absolute;
}
.a{
  right:300px;
  top:0; position: absolute;
}
.pos{
  margin: 95px 0 0 85px;
 
}
.UI{
  height: 523px;
}